<div data-ng-init="findOnePool(); findBrackets();" ng-cloak>
  <h1>{{ pool.name }}</h1>
  <p><strong>Manager: </strong>{{ manager.name }}</p>
  <p><a href="#/pools">View all pools</a></p>

  <div data-ng-hide="currentUserBrackets">
    <p><a href="#/pools/{{ pool.$id }}/brackets/create">Create a bracket</a></p>
  </div>

  <div ng-repeat="bracketId in currentUserBrackets" class="currentUserBracket">
    <div ng-include="'views/brackets/view.html'" class="poolBracket"></div>
    <p><a class="btn btn-primary" href="#/pools/{{ pool.$id }}/brackets/{{ bracketId }}/edit">Edit your bracket</a></p>
  </div>

  <div ng-repeat="bracketId in bracketIds" ng-include="'views/brackets/view.html'" class="poolBracket"></div>
</div>
