<div data-ng-init="findOnePool(); findBrackets();">
        <h2 style="display: inline-block; padding-right: 30px">{{ pool.name }}</h2>
        <strong>Manager: </strong>{{ manager.name }}
        <br/>
        <a class="btn btn-default" href="#/pools" style="margin-right: 20px">View all pools</a>
        <a class="btn btn-primary" href="#/pools/{{ pool.$id }}/brackets/create" data-ng-show="!currentUserBrackets">Create a bracket</a>

  <div ng-repeat="bracketId in currentUserBrackets" class="currentUserBracket">
    <div ng-include="'views/brackets/view.html'" class="poolBracket"></div>
    <p><a class="btn btn-primary" href="#/pools/{{ pool.$id }}/brackets/{{ bracketId }}/edit">Edit your bracket</a></p>
  </div>

  <div ng-repeat="bracketId in bracketIds" ng-include="'views/brackets/view.html'" class="poolBracket"></div>
</div>
