<div data-ng-init="findOnePool(); findBrackets();" data-ng-controller="BracketsController">
  <h3>{{pool.name}} Brackets</h3>
  <h4>All Brackets</h4>
  <ul class="unstyled">
    <li data-ng-repeat="bracket in brackets | orderByPriority">
      <a href="#/pools/{{ poolId }}/brackets/{{ bracket.$id }}">{{bracket.name}}</a>
      <span ng-show="bracket.ownerId === auth.user.uid">
        (<a href="#/pools/{{ poolId }}/brackets/{{ bracket.$id }}/edit">Edit</a>)
        (<a href="" data-ng-click="removeBracket('{{ bracket.$id }}')" >Remove</a>)
      </span>
    </li>
  </ul>
  <br>
  <a href="#/pools/{{ poolId }}/brackets/create">Create a new Bracket</a>
</div>
