<div data-ng-init="findAllTeams().then(getBracketForEditing);" data-ng-controller="CreateEditBracketController">
  <br/>
  <form class="form-horizontal" role="form">
    <fieldset>
      <legend style="margin-bottom: 0">{{isNewBracket ? 'Select' : 'Change'}} Your Teams</legend>

      <div class="container">
        <div class="row">
          <h4>Select <strong>{{requiredNumTeams}}</strong> teams whose seeds add up to <strong>{{requiredSumOfSeeds}}</strong>:</h4>
          <br/>
          <div class="col-md-6">
            <div class="selectTeamsGrid" ng-grid="selectTeamsGridOptions"></div>
          </div>
          <div class="selectedItems col-md-5">
            <h4>Your {{selectedTeams.length}} selected teams:</h4>
            <ul class="unstyled">
              <li data-ng-repeat="selectedTeam in selectedTeams | orderBy:'seed'">{{selectedTeam.seed}} - {{selectedTeam.full_name}}</li>
            </ul>
            <br/>
            <progressbar value="selectedTeams.length" max="requiredNumTeams" type="{{teamsProgressBarType}}">
              <b>Teams: {{selectedTeams.length}} / {{requiredNumTeams}}</b>
            </progressbar>
            <progressbar value="sumOfSeeds" max="requiredSumOfSeeds" type="{{seedsProgressBarType}}">
              <b>Seeds: {{sumOfSeeds}} / {{requiredSumOfSeeds}}</b>
            </progressbar>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="btn-toolbar">
            <button type="button" data-ng-click="randomPicks()" class="btn btn-info">Pick for me</button>
            <button type="button" data-ng-click="clearPicks()" class="btn btn-danger">Clear</button>
          </div>
        </div>
        <br/>
        <h4><em>NOTE: some teams won't be available for selection until <strong>after</strong> the play-in games are over.</em></h4>
        <br/>
        <div class="row">
          <div class="form-group pull-left" ng-class="{'has-error': !bracket.name}">
            <label class="col-md-5 control-label" for="name" style="text-align:left;">Bracket Name</label>
            <div class="col-md-7">
              <input id="name" data-ng-model="bracket.name" type="text" placeholder="name of bracket" class="form-control input-md">
            </div>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="btn-toolbar">
            <a class="btn btn-default" href="#/pools/{{ poolId }}">Cancel</a>
            <button data-ng-click="saveBracket()"
                    ng-disabled="!bracket.name || selectedTeams.length !== requiredNumTeams || sumOfSeeds !== requiredSumOfSeeds"
                    ng-class="{'btn-danger': selectedTeams.length > requiredNumTeams || sumOfSeeds > requiredSumOfSeeds}"
                    class="btn btn-success">
              {{isNewBracket ? 'Save' : 'Update'}}
            </button>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
