<div ng-controller="ListBracketsController">
  <div class="allBracketsGrid" ng-grid="allBracketsGridOptions"></div>
  <div class="checkbox" ng-show="displayShowOwner">
    <label ng-show="displayShowOwner" style="margin-right: 15px;">
      <input type="checkbox" id="showOwners" name="showOwners" ng-model="model.showOwners">Show owners?
    </label>
    <span ng-show="model.tourneyInProgress && hasCannotWin" class="cannot-win-legend">
      <span class="cannot-win-swatch"></span> = Can't win
    </span>
  </div>
</div>
