<div class="viewBracket" ng-controller="ViewBracketController">
  <h3>{{ bracket.name }}</h3>
  <span class="bracketOwner">by {{ owner.name }}</span>
  <div class="bracketGrid" ng-grid="bracketGridOptions"></div>

  <div ng-show-auth="'login'" ng-show="auth.user.uid === bracket.ownerId" class="row currentUserBracket">
    <div class="col-md-2">
      <a class="btn btn-primary" ng-href="#/pools/{{ pool.$id }}/brackets/{{ bracketId }}/edit">Edit your bracket</a>
    </div>
    <div class="col-md-2">
      <button ng-click="removeBracket()" class="btn btn-danger">Remove bracket</button>
    </div>
  </div>
</div>
