<div class="viewBracket" data-ng-controller="ViewBracketController" data-ng-init="findAllTeams().then(getBracketWithScores);">
  <h3>{{ bracket.name }}</h3>
  <span class="bracketOwner">by {{ owner.name }}</span>
  <div class="bracketGrid" ng-grid="bracketGridOptions"></div>

  <div ng-show-auth="'login'" ng-show="auth.user.uid === bracket.ownerId" class="row currentUserBracket">
    <div class="col-md-2">
      <a class="btn btn-primary" ng-href="#/pools/{{ pool.$id }}/brackets/{{ bracketId }}/edit">Change Your Teams</a>
    </div>
    <div class="col-md-2">
      <button ng-click="removeBracket()" class="btn btn-danger">Delete Your Teams</button>
    </div>
  </div>
</div>
