<div ng-init="findOnePool()" class="editPool">
  <form class="form-horizontal" role="form">
    <fieldset>
      <legend>Your pool</legend>

      <div class="form-group">
        <label class="col-md-1 control-label" for="name">Name</label>
        <div class="col-md-offset-1 col-md-10">
          <input id="name" name="name" ng-model="pool.name" type="text" placeholder="name of pool" class="form-control input-md" required autofocus>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <div class="checkbox">
            <label>
              <input id="allowBracketChangesDuringTourney" name="allowBracketChangesDuringTourney" ng-model="pool.allowBracketChangesDuringTourney" type="checkbox">
              Allow brackets to be created or changed after the tourney starts?
            </label>
          </div>
        </div>
        <br/><br/>
        <div class="col-md-offset-2 col-md-10">
          <div class="checkbox">
            <label>
              <input id="hideBracketsBeforeTourney" name="hideBracketsBeforeTourney" ng-model="pool.hideBracketsBeforeTourney" type="checkbox">
              Hide brackets until the tourney starts? <br/>
              <em>Users can still edit their own bracket, if logged in.</em>
            </label>
          </div>
        </div>
      </div>
      <br/>

      <div class="form-group">
        <div class="col-md-offset-2 col-md-2">
          <a class="btn btn-default" href="#/pools">Cancel</a>
        </div>
        <div class="col-md-4">
          <!-- if the user is editing an already-existing pool, the form fields are bound to db,
               so "save" button just needs to take user back to the pools page: -->
          <a class="btn btn-primary" href="#/pools" ng-show="model.poolId">Save</a>
          <!-- else the user is creating a new pool: -->
          <button class="btn btn-primary" id="createpool" name="createpool" ng-click="createPool()" ng-show="!model.poolId">Create Pool</button>
        </div>
      </div>
    </fieldset>
  </form>

</div>

