<div data-ng-init="findPools()">
  <h3>March Madness Pools</h3>
  Select a pool<span ng-show-auth="'login'">, or create a new one</span>:<br><br>
  <ul class="unstyled">
    <li data-ng-repeat="pool in pools | orderByPriority">
      <a href="#/pools/{{ pool.$id }}">{{pool.name}}</a>
      <span ng-show="pool.managerId === auth.user.uid">
        (<a href="#/pools/{{ pool.$id }}/edit">Edit</a>)
        (<a href="" data-ng-click="removePool(pool.$id)" >Remove</a>)
      </span>
    </li>
  </ul> 
  <br>
  <a class="btn btn-primary" ng-href="#/pools/create" ng-show-auth="'login'">Create a Pool</a>
</div>
