<div data-ng-init="findOnePool(); findBrackets();">
  <h2 style="display: inline-block; padding-right: 30px">{{ pool.name }}</h2>
  <strong>Manager: </strong>{{ manager.name }}
  <br/>
  <a class="btn btn-default" href="#/pools" style="margin-right: 20px">View all pools</a>

  <a class="btn btn-primary" ng-href="#/pools/{{ pool.$id }}/brackets/create"
     data-ng-show="model.currentUserHasLoaded && !model.currentUserBracketId">
    Create a bracket
  </a>

  <!-- show the current logged-in user's bracket first, if they have one -->
  <div ng-if="model.currentUserHasLoaded && model.currentUserBracketId">
    <div ng-init="bracketId = model.currentUserBracketId" ng-include="'views/brackets/view.html'" class="poolBracket"></div>
  </div>

  <div ng-repeat="bracketId in pool.brackets">
    <!-- exclude the bracket for the current logged in user, so it isn't shown twice -->
    <div ng-if="bracketId !== model.currentUserBracketId" ng-include="'views/brackets/view.html'" class="poolBracket"></div>
  </div>
</div>
