<div ng-cloak>
  <div class="row">
    <div class="col-md-6">
      <h2 style="display: inline-block; padding-right: 30px">{{ pool.name }}</h2>
      <strong>Manager: </strong> {{ manager.name }}
      <br/>
      <a class="btn btn-default" href="#/pools" style="margin-right: 20px">View all pools</a>

      <a class="btn btn-primary" ng-href="#/pools/{{ pool.$id }}/brackets/create"
         data-ng-show="model.currentUserHasLoaded && !model.currentUserBracketId">
        Create a bracket
      </a>
    </div>
    <div class="col-md-6"></div>
  </div>

  <!-- show the current logged-in user's bracket first, if they have one -->
  <div ng-if="model.currentUserBracketId">
    <div ng-init="bracketId = model.currentUserBracketId" ng-include="'views/brackets/view.html'" class="poolBracket"></div>
  </div>

  <!-- having this check here prevents a NPE from setDraggables in ng-grid: "Cannot call method 'find' of null" -->
  <div ng-if="model.currentUserHasLoaded">
    <!-- the orderByPriority filter converts the object to an array of bracketIds, and the excludeBracketForCurrentUser is used
         to remove the bracket for the logged-in user from the list, since it's displayed above and we don't want to repeat it. -->
    <div ng-repeat="bracketId in pool.brackets | orderByPriority | excludeBracketForCurrentUser:model.currentUserBracketId">
      <div ng-include="'views/brackets/view.html'" class="poolBracket"></div>
    </div>
  </div>
</div>
