<div data-ng-init="findOnePool()">
  <div class="row">
    <div class="col-md-6">
      <h2 style="display: inline-block; padding-right: 30px">{{ pool.name }}</h2>
      <strong>Manager: </strong>{{ manager.name }}
      <br/>
      <a class="btn btn-default" href="#/pools" style="margin-right: 20px">View all pools</a>

      <!-- In order for the "create bracket" button to be displayed, the user needs to be logged in, they can't already have
           created a bracket in this pool (i.e. currentUserBracketId should be undefined), and the current date needs
           to be before the first game of the tournament UNLESS the pool has allowBracketChangesDuringTourney = true. -->
      <a class="btn btn-primary" ng-href="#/pools/{{ pool.$id }}/brackets/create"
         data-ng-show="isLoggedIn && !model.currentUserBracketId && model.isUserAllowedToCreateBracket">
        Select Your Teams
      </a>
    </div>
    <div class="col-md-4 col-md-offset-2" ng-if="pool.brackets" ng-init="enableBracketNameLink = model.showBrackets">
      <div ng-init="poolId = model.poolId" ng-include="'views/brackets/list.html'"></div>
    </div>
  </div>

  <!-- show the current logged-in user's bracket first, if they have one -->
  <div ng-if="model.currentUserBracketId">
    <div ng-init="bracketId = model.currentUserBracketId" ng-include="'views/brackets/view.html'" class="poolBracket"></div>
  </div>

  <div ng-if="!model.showBrackets">
    <br/>
    <h3><em>Brackets are hidden until the tournament starts.</em></h3>
  </div>

  <!-- the excludeBracketForCurrentUser filter is used to remove the bracket for the logged-in user from the list,
       since it's displayed above and we don't want to repeat it. -->
  <div ng-if="model.showBrackets" ng-repeat="bracketId in pool.brackets | excludeBracketForCurrentUser:model">
    <div ng-include="'views/brackets/view.html'" class="poolBracket"></div>
  </div>
</div>
